.logo{

    width: 15rem;
}

footer{
    background-color: #5577ee;
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    
 }

 .buscar{
    width: 55rem;
    font-size: 1.2em;
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 1px;
    flex: 1;
  }

 

  .data-bs-target{
    color: #000000;
  }
 